.posts {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  max-width: 500px;
  margin: 3px auto;
  padding: 20px 0;
  /* overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory; */
}
.posts::-webkit-scrollbar {
  display: none;
}
