.form {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  border-bottom: solid 1px lightgray;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px lightgray;
  position: relative;
}
.form__posting {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.form__top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
.form__input {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 10px;
  max-height: 100px;
}

.form__input > textarea {
  flex: 1;
  resize: none;
  background: #fafafa;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  height: fit-content;
  font-size: 16px;
}
.form__input > textarea::-webkit-scrollbar {
  display: none;
}
.form__input::-webkit-scrollbar {
  display: none;
}

.form__avatar {
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
}
.post__input--hidden {
  display: none;
}
.form__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__select {
  width: 100px;
  background: #fafafa;
  outline: none;
  border: none;
  border: 1px solid lightseagreen;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 5px;
}
.form__controls > button {
  width: 100px;
  outline: none;
  cursor: pointer !important;
  padding: 3px 10px;
  text-align: center;
  background: white;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
  position: relative;
  border: 1px solid cornflowerblue;
  display: flex;
  justify-content: center;
  color: #333;
  font-weight: 500;
  font-size: 0.9rem;
  align-items: center;
}
.post__icon {
  font-size: 1.5rem !important;
  color: cornflowerblue !important;
}
.form__controls > button:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    lightseagreen,
    cornflowerblue
  ) !important;
}
.form__post__preview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.form__image__container {
  width: 100%;
  max-width: 45vw !important;
  border-radius: 5px;
  position: relative;
}
.form__post__preview__image {
  object-fit: contain !important;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 50vh;
}
.form__image__delete__icon {
  color: white !important;
  font-size: 1rem !important;
}
.form__image__delete__button,
.form__image__location__button {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  padding: 5px !important;
  background: rgba(0, 0, 0, 0.8) !important;
  z-index: 5 !important;
}
.form__image__location__button {
  top: 50px !important;
  z-index: 5 !important;
  color: white !important;
  font-size: 1rem !important;
}

.form__close__button {
  width: fit-content !important;
  height: fit-content !important;
  margin-left: 5px !important;
  padding: 5px !important;
}
.form__close__button__icon {
  font-size: 20px !important;
  color: orange !important;
}
.form__words__limit {
  font-size: 14px !important;
  color: gray !important;
  padding: 3px 0;
  user-zoom: none;
  user-select: none;
}
