.fleet {
  margin: 0px 5px;
  cursor: pointer;
  position: relative;
  background-color: #f5f5f5;
  width: 100px;
  height: 140px;
  min-width: 100px;
  border-radius: 5px;
  border: none;
}
.fleet__avatar {
  width: 50px !important;
  height: 50px !important;
  top: 60%;
  left: 40%;
}

.fleet__avatar__container {
  border: 2px solid cornflowerblue;
}
.fleet__avatar--with-fleet {
  border: 3px solid cornflowerblue;
  animation: fleet-animation 1s ease 0s infinite alternate forwards;
}
@keyframes fleet-animation {
  from {
    transform: scale(1.04);
  }
  to {
    transform: scale(1);
  }
}
.fleet__avatar__container {
  position: relative !important;
  width: fit-content;
  height: fit-content;
  top: 60%;
  left: 40%;
  border-radius: 50%;
}
.fleet__avatar__container > .fleet__avatar {
  left: 0px;
}
.fleet__avatar__container > button {
  position: absolute !important;
  bottom: 6px !important;
  right: 6px !important;
  background: cornflowerblue !important;
  color: white !important;
  padding: 3px !important;
  cursor: pointer !important;
  z-index: 10;
}
.fleet__avatar__icon {
  font-size: 1rem;
  font-weight: bold;
}
.fleet > img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100px;
  height: 140px;
  border: none !important;
  border-radius: 5px;
  -webkit-user-drag: none !important;
  object-fit: cover;
}
.fleet__user__live {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  z-index: 10;
  border-radius: 50%;
  right: 0;
  animation: live-ripple 1s ease-in-out 0s infinite alternate-reverse forwards;
}

@keyframes live-ripple {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 15px;
    height: 15px;
  }
}
