.sample__comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sample__comments > h1 {
  cursor: pointer;
  font-size: 0.78rem;
  font-weight: 400;
  color: gray;
  text-align: center;
  padding: 10px;
}
.sample__comments > h1:hover {
  color: cornflowerblue;
}
