.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  user-select: none;
  user-zoom: none;
  background-color: white;
}
.comment__top {
  display: flex;
}
.comment:nth-child(odd) {
  background-color: #fafafa;
}
.comment__avatar {
  width: 20px !important;
  height: 20px !important;
}
.comment__info {
  margin-left: 5px;
  flex: 1;
}
.comment__info > h1 {
  font-size: 16px;
  cursor: pointer;
  color: lightseagreen !important;
}
.comment__info > p {
  font-size: 12px !important;
}
.comment__high__badge {
  color: green !important;
}
.comment__delete__button {
  width: fit-content !important;
  height: fit-content !important;
  padding: 5px !important;
  background: #fafafa;
}
.comment__delete__icon {
  color: orange !important;
  font-size: 18px !important;
}
.comment__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment__bottom > small {
  color: gray !important;
  font-size: 12px !important;
}
