.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100% !important;
}
.comment__top {
  display: flex;
}
.comment__top > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment__top > div > p {
  flex: 1;
}
.comment__top > div > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-left: 5px;
}
.comment__username {
  font-weight: 500;
  margin-bottom: 3px;
  user-select: none;
  user-zoom: none;
  display: flex;
  align-items: center;
}
.comment__avatar {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer !important;
  border: 2px solid cornflowerblue;
}
.comment__controls {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  user-select: none;
}
.comment__icon__like {
  color: #e44753 !important;
  font-size: 15px !important;
}
.comment__icon {
  font-size: 15px !important;
}

.comment__controls__right {
  display: flex;
  align-items: center;
}
.comment__controls__right > button {
  padding: 5px !important;
  margin-left: 10px !important;
}
.comment__controls__right > div {
  font-size: 0.8rem;
  color: gray;
  font-weight: 500;
}
.comment__controls > p {
  font-size: 0.9rem;
  color: gray;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment__controls > p > span {
  margin-right: 3px;
}
.comment__controls > p > span:last-child {
  text-align: start !important;
  display: none;
}

.comment__caption {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}
.comment__caption > span {
  margin-right: 4px;
  font-size: 0.8rem;
}
.comment__username:hover {
  cursor: pointer;
  text-decoration: underline;
  color: cornflowerblue;
}
.comment__username--me:hover {
  cursor: pointer;
  text-decoration: unset;
  color: unset;
}

.comment__icon__reply {
  color: gray;
  font-size: 15px !important;
}
.comment__inline__reply {
  margin: 0px 0px 5px 80px;
}

.comment__inline__comment {
  margin: 0px 0px 5px 80px;
}
.comment__inline__expand > p {
  color: gray;
  font-weight: 500;
  cursor: pointer;
  margin: 0px 10px;
}

.comment__inline__expand > p:hover {
  color: cornflowerblue;
}
