.postoptions {
  display: flex;
  flex-direction: column;
  user-select: none;
}
.postoptions > button {
  padding: 5px 10px;
  margin: 2px 0;
  cursor: pointer;
  background-color: #fafafa;
  outline: none;
  border: none;
  text-align: start;
}
.postoptions > button:nth-child(odd) {
  background-color: white;
}
.postoptions > button:hover {
  background-color: lightseagreen;
  color: white;
}
