.postoptions {
  display: flex;
  flex-direction: column;
  user-select: none;
}
.postoptions > h1 {
  padding: 5px 10px;
  margin: 2px 0;
  cursor: pointer;
  background-color: #fafafa;
}
.postoptions > h1:nth-child(odd) {
  background-color: white;
}
.postoptions > h1:hover {
  background-color: lightseagreen;
  color: white;
}
