.additional__info {
  width: 100vw;
  user-select: none;
  user-zoom: none;
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 10px;
  display: grid;
  place-items: center;
}
.additional__info::-webkit-scrollbar {
  display: none !important;
}
.additional__info > h1 {
  font-weight: 500;
  font-size: 1.01rem;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
@media only screen and (max-width: 769px) {
  .additional__info {
    padding: 0;
    background: white;
  }
  .additional__info__main {
    width: 100% !important;
    border: none;
    box-shadow: unset;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .additional__info > img {
    width: 130px;
  }
}
@media only screen and (max-width: 700px) and (orientation: landscape) {
  .additional__info {
    justify-content: unset !important;
  }

  .additional__info > img {
    justify-content: unset !important;
  }
}
