.chat {
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat__container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto 5px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px 2px lightgray;
  background: white;
  flex: 1;
  height: 100%;
}
.chat__main {
  flex: 1;
  height: 100%;
}

.chat__container > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.chat__chats {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-image: url(https://cdn.dribbble.com/users/23582/screenshots/3319553/paper_clip_love.gif); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chat__chats::-webkit-scrollbar {
  display: none;
}
.chat__messages {
  padding: 10px;
  flex: 1;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://cdn.dribbble.com/users/23582/screenshots/3319553/paper_clip_love.gif);
}

.chat__input {
  width: 100%;
  background-color: #fafafa;
  position: sticky;
  bottom: 0;
  display: flex;
  padding: 5px;
}
.chat__input > textarea {
  flex: 1;
  height: fit-content;
  outline: none;
  border: none;
  padding: 5px;
  resize: none;
}
.chat__input > button {
  margin-left: 5px;
  outline: none;
  background-color: inherit !important;
  border: none;
  cursor: pointer;
}
.chat__send__icon {
  cursor: pointer;
  font-size: 40px !important;
  color: lightseagreen;
}
.chat__container__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.chat__container__header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat__header__icon__button {
  margin-right: 5px !important;
  padding: 5px !important;
  width: fit-content !important;
  height: fit-content !important;
}
.chat__header__icon {
  font-size: 25px !important;
}
.chat__header__avatar {
}
.chat__container__header__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}
.chat__container__header__right > small {
  color: lightseagreen;
}
.chat__main__marquee {
  width: 100%;
  z-index: 10;
  padding: 2px;
  font-size: 12px;
  user-select: none;
  user-zoom: none;
  color: white;
  display: none !important;
}
.chat__container__header__right {
  user-select: none;
  user-zoom: none;
  cursor: pointer;
}
.chat__container__header:hover {
  background-color: #fafafa;
}
.chat__container__header__right:hover > h1 {
  color: lightseagreen;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .chat__container {
    flex: 1;
    margin: 0px auto;
  }
  .chat__header {
    display: none;
  }
}
