.fleets {
  display: flex;
  margin: 5px 10px 10px 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.fleets__container {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-right: 10px;
}

.fleets__container::-webkit-scrollbar {
  display: none;
}
