.fleets {
  display: flex;
  flex-direction: column;
}

.fleets__container {
  display: flex;
  align-self: center;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5px 0px;
}
.fleets__left {
  cursor: pointer;
  position: relative;
}
.fleets__left__avatar {
  border: 3px solid limegreen;
}
.fleets__right {
  display: flex;
  align-self: center;
  margin: 0px 5px;
}

.fleets__container::-webkit-scrollbar {
  display: none !important;
}
.fleets__left__add__button {
  position: absolute !important;
  bottom: 5px !important ;
  right: 5px !important;
  padding: 3px !important;
  width: fit-content !important;
  height: fit-content !important;
  background-color: limegreen !important;
}
.fleets__left__add__icon {
  color: white !important;
  font-size: 10px !important;
}
.fleet__input--hidden {
  display: none;
}

.fleets__preview {
  width: 100%;
  max-width: 500px;
  margin: 5px auto;
  max-height: 90vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightgray;
  display: flex;
  padding: 5px 0px 10px 0px;
  flex-direction: column;
  background-color: black;
  cursor: pointer;
}
.fleets__preview__center {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
}
.fleets__image__container {
  position: relative;
  width: 100%;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fleets__image__container > img {
  max-height: 40vh;
  margin: 0px auto;
  object-fit: contain;
  border-radius: 5px;
  -webkit-user-drag: none !important;
  cursor: pointer;
}
.fleets__count {
  width: 80%;
  margin: 0 auto 10px auto;
  padding: 2px;

  display: flex;
}
.fleets__progress {
  flex: 1;
  background-color: lightseagreen;
  padding: 2px;
  border-radius: 999px;
  margin: 0px 2px;
}
.fleets__preview__center > input {
  flex: 1;
  background: #fafafa;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  max-width: 80%;
  margin: 5px auto;
}
.fleets__preview__center > p {
  color: white;
  user-zoom: none;
  user-select: none;
  width: 80%;
  margin: 0px auto 10px auto;
  text-align: center;
}
.fleets__preview__center > button {
  width: 100px;
  background: lightseagreen;
  outline: none;
  cursor: pointer;
  padding: 3px 10px;
  text-align: center;
  color: white;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
  margin: 0px auto;
  position: relative;
}

.fleets__preview__center > button::before,
.fleets__preview__center > button::after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: "";
  height: 0;
  position: absolute;
  width: 24px;
  border-radius: 5px;
}
.fleets__preview__center > button::before {
  border-top: 2px solid limegreen;
  right: 0;
  top: -4px;
}

.fleets__preview__center > button::after {
  border-bottom: 2px solid limegreen;
  bottom: -4px;
  left: 0;
}

.fleets__preview__center > button:hover::before,
.fleets__preview__center > button:hover::after {
  width: 100%;
}
.fleets__preview__center > button:hover {
  background-color: orange !important;
}
.fleets__preview__center > button:active {
  background-color: green !important;
}
.fleets__image__delete__button {
  width: fit-content !important;
  height: fit-content !important;
  background-color: orange !important;
  border-radius: 50% !important;
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  padding: 5px !important;
  z-index: 20 !important;
}
.fleets__image__delete__button::before,
.fleets__image__delete__button::after {
  content: none !important;
}
.fleets__image__delete__icon {
}
.fleets__preview__circular__progress {
  color: lightseagreen !important;
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}
.fleet__progress--active {
  background-color: white !important;
}
.fleets__left__avatar--nofleets {
  border: none !important;
}
