.person {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid lightgray;
  margin-bottom: 2px;
  padding-bottom: 5px;
  user-select: none;
}

.person__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.person__top__info {
  flex: 1;
  margin: 0px 5px;
}
.person__top__info > h1 {
  display: flex;
  align-items: center;
}
.person__avatar {
  cursor: pointer;
}
.person__top__info__followings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5px;
}
.person__top__info__followings > small {
  color: gray !important;
}
.person__top__info__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.person__top__info__more > small {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.person__top__info__more > small:nth-last-of-type(2) {
  background-color: green;
}
.person__top__info__more > small:last-of-type {
  background: orange;
}
.person__bottom {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}
.person__bottom > button {
  width: 80px;
  border: none;
  outline: none;
  cursor: pointer;
}
.person__bottom > button:hover {
  background-color: lightseagreen;
  color: white;
}
