.profile__info {
  display: flex;
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  flex-direction: column;
}
.profile__info__cards {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.profile__info > p {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
