.profile__posts {
  width: 100%;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  margin: 0px auto;
  height: 60vh !important;
}
.profile__posts__container {
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  height: 100%;
}
.profile__posts__container::-webkit-scrollbar {
  display: none;
}
