.comments {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 80vh;
  user-select: none;
  user-zoom: none;
  width: 100%;
  background-color: white;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.comments__container {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.comments__container::-webkit-scrollbar {
  display: none;
}
.comments > h1 {
  text-transform: uppercase;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.comments > h1 > button {
  background: lightseagreen;
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}
.comments > h1 > button::before,
.comments > h1 > button::after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: "";
  height: 0;
  position: absolute;
  width: 24px;
  border-radius: 5px;
}
.comments > h1 > button::before {
  border-top: 2px solid black;
  right: 0;
  top: -4px;
}

.comments > h1 > button::after {
  border-bottom: 2px solid black;
  bottom: -4px;
  left: 0;
}

.comments > h1 > button:hover::before,
.comments > h1 > button:hover::after {
  width: 100%;
}
.comments > h1 > button:hover {
  background-color: orange !important;
}
.comments > h1 > button:active {
  background-color: green !important;
}
