.post {
  width: 97% !important;
  background: white;
  padding: white;
  user-select: none;
  user-zoom: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-bottom: 1px solid lightgray;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin: 10px auto !important;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* overflow-y: hidden;
  scroll-snap-align: end; */
  flex: 1 !important;
}
.post__comments__modal {
  width: 100vw !important;
  height: 100vh !important;
  display: grid !important;
  place-items: center !important;
}
/* .post:hover {
  opacity: 0.9 !important;
} */
.post__avatar {
  cursor: pointer;
}
.post__avatar:hover {
  opacity: 0.6 !important;
}
.post__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.post__center {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}
.post__center > img {
  width: 300px !important;
  object-fit: contain;
  max-height: 45vh !important;
  border-radius: 5px !important;
}
.post__center__likes {
  flex: 1;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 90%;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0px auto;
}
.post__center__likes > h1 {
  color: lightseagreen !important;
  font-size: 30px !important;
}
.post__icon__unlike__number {
  font-size: 80px !important;
  animation: like-animation infinite linear 1500ms !important;
}
@keyframes like-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.post__info {
  flex: 1;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
}
.post__iconButton {
  background: #fafafa !important;
}
.post__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.post__bottom__buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
}
.post__bottom__comment__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.post__bottom__comment__input > input {
  flex: 1;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fafafa;
  font-family: 0.9rem;
}
.post__bottom__comment__input > button {
  width: 80px;
  background: lightseagreen;
  outline: none;
  cursor: pointer;
  padding: 3px 10px;
  text-align: center;
  color: white;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
  position: relative;
}

.post__bottom__comment__input > button::before,
.post__bottom__comment__input > button::after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: "";
  height: 0;
  position: absolute;
  width: 24px;
  border-radius: 5px;
}
.post__bottom__comment__input > button::before {
  border-top: 2px solid black;
  right: 0;
  top: -4px;
}

.post__bottom__comment__input > button::after {
  border-bottom: 2px solid black;
  bottom: -4px;
  left: 0;
}

.post__bottom__comment__input > button:hover::before,
.post__bottom__comment__input > button:hover::after {
  width: 100%;
}
.post__bottom__comment__input > button:hover {
  background-color: orange !important;
}
.post__bottom__comment__input > button:active {
  background-color: green !important;
}
.post__hash__tag {
  text-decoration: underline;
  color: cornflowerblue !important;
  font-weight: 500;
  cursor: pointer;
}
.post__info > div:first-of-type {
  display: flex;
  align-items: center;
}
.post__info > div > h1 {
  color: #3e3e3e !important;
  font-size: 1rem;
  padding-bottom: 1px;
  align-items: center;
  cursor: pointer;
  text-transform: lowercase !important;
  font-weight: 500;
}
.post__info > div > h1:hover {
  text-decoration: underline;
}
.post__info > div:first-of-type > small {
  color: gray;
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: 0.8rem;
}
.post__high__badge {
  color: cornflowerblue !important;
  font-size: 14px;
  margin-left: 5px;
}
.post__icon__button__message {
  width: fit-content !important;
  height: fit-content !important;
}
.post__icon__button__like {
  width: fit-content !important;
  height: fit-content !important;
}
.post__icon__like,
.post__icon__unlike__number {
  color: gray !important;
  font-size: 20px !important;
}
.post__icon__unlike {
  color: gray !important;
  font-size: 20px !important;
}
.post__icon__message {
  color: gray !important;
  font-size: 20px !important;
}
.post__icon__download {
  color: cornflowerblue !important;
  font-size: 20px !important;
}
.post__icon__comments {
  color: cornflowerblue !important;
  font-size: 20px !important;
}
.post__bottom__buttons > h1 > span {
  color: gray;
  margin-left: 3px;
}
.post__bottom__comment__container {
  display: flex;
  flex-direction: column;
}
.post__bottom__comment__container > button {
  background: lightseagreen;
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}
.post__bottom__comment__container > button::before,
.post__bottom__comment__container > button::after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: "";
  height: 0;
  position: absolute;
  width: 24px;
  border-radius: 5px;
}
.post__bottom__comment__container > button::before {
  border-top: 2px solid black;
  right: 0;
  top: -4px;
}

.post__bottom__comment__container > button::after {
  border-bottom: 2px solid black;
  bottom: -4px;
  left: 0;
}

.post__bottom__comment__container > button:hover::before,
.post__bottom__comment__container > button:hover::after {
  width: 100%;
}
.post__bottom__comment__container > button:hover {
  background-color: orange !important;
}
.post__bottom__comment__container > button:active {
  background-color: green !important;
}
.post__category__badge {
  font-weight: 500 !important;
  color: cornflowerblue !important;
  display: flex;
  align-items: center;
}
.post__caption {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  width: 100%;
}
.post__caption > span {
  margin-right: 4px;
}
.post__bottom__comment__container > h1 {
  text-align: center;
  color: #3e3e3e;
  padding: 5px;
  font-size: 0.9rem;
}
span.post__location {
  user-select: none;
  text-transform: inherit;
  color: gray;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  margin-right: 5px;
}
.post__bottom__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__bottom__button__container > h1 {
  user-select: none;
  user-zoom: none;
  margin-left: 5px !important;
  font-size: 0.8rem;
}
@media only screen and (max-width: 768px) {
  .post__info > div > h1 {
    font-size: 14px !important;
  }
}
