.messages {
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.messages__container {
  width: 100%;
  max-width: 500px;
  margin: 0px auto 5px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px 2px lightgray;
  background: white;
  flex: 1;
  height: 100%;
  margin-bottom: 5px;
}
.messages__search {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 4px 10px !important;
  border-radius: 999px;
  background: #fafafa;
  justify-self: flex-end !important;
  max-width: 200px;
}
.message__search__icon {
  margin-right: 0px !important;
}
.messages__search > input {
  outline: none;
  border: none;
  padding: 2px 0 2px 4px;
  background: inherit;
}
.messages__container__header {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.messages__container > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.messages__container > div > h1 {
  font-size: 20px !important;
}
.messages__chats {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.messages__chats::-webkit-scrollbar,
.messages__main::-webkit-scrollbar {
  display: none;
}
.messages__main {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}
/* For fleets */
.messages__fleets {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  padding: 2px 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 5px;
}

/* End of fleets */
@media only screen and (max-width: 768px) {
  .messages__container > div > h1 {
    font-size: 18px !important;
  }
  .messages__search {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 3px;
    margin: 0px 5px;
    background: #fafafa;
    padding: 2px 5px !important;
  }
  .messages__search > input {
    outline: none;
    border: none;
    flex: 1;
    padding: 0 !important;
    background: inherit;
  }
  .messages__main {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
  }
}
