.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative !important;
}
.home__create__post {
  width: 40px !important;
  height: 40px !important;
  background: black !important;
  position: absolute !important;
  bottom: 50px !important;
  left: 20px;
  z-index: 12;
}
.home__create__post__icon {
  color: white !important;
  font-size: 1rem !important;
}
