html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
body {
  background: #f5f5f5;
  --mobile-device-min: 320px;
  --tablets-device-min: 481px;
  --laptops-device-min: 769px;
  --desktops-device-min: 1025px;
  --mobile-device-max: 480px;
  --tablets-device-max: 768px;
  --laptops-device-max: 1024px;
  --desktops-device-max: 1200px;
  --telephone-device-min: 1201px;
}
div,
p,
h1,
h2,
h3,
h4,
h5,
input,
textarea {
  color: #333;
}
.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.app::-webkit-scrollbar {
  display: none;
}

/* GLOBAL STYLES FOR ELEMENTS */

.span__global__clickable {
  color: rgb(84, 140, 243);
  cursor: pointer;
}
.span__global__clickable:hover {
  text-decoration: underline;
}
.error {
  color: red;
}
.username__holder {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0px auto;
  width: fit-content;
  text-align: start;
}
